@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* ***************RESET***************** */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
  padding: 0;
}

:root {
  --blau: rgb(38, 61, 85);
  --blau-alpha: rgb(38, 61, 85, 0.6);
  --beige: #e4dcb5;
  --beige-alpha: rgb(228, 220, 181, 0.4);
  --gelbbraun: #a88b35;
  --braun: #7c523d;
}

body,
html {
  /* font-size: 85%; */
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  /* -webkit-font-smoothing: antialiased; */
  font-family: sans-serif;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  font-style: italic;
  background-repeat: no-repeat;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
  max-width: 700px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* TYPO */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  font-style: italic;
  text-transform: uppercase;

  line-height: 1.4;
}

h1 {
  font-size: 2.66rem;
  font-weight: 900;
  line-height: 1.2;
  color: var(--gelbbraun);
}
h2 {
  margin: 60px 0;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--gelbbraun);
}

h3 {
  font-size: 1.15rem;
  font-weight: 600;
  line-height: 1.6;
}
h4 {
  margin-top: 10px;
  color: var(--gelbbraun);
  font-size: 0.9rem;
  font-weight: 700;
  text-align: center;
}
h5 {
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--blau);
}
h6 {
  font-size: 0.7rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--blau);
}

.hero h1,
.hero h2 {
  color: var(--beige);
}
.hero h2 {
  font-size: 1.1rem;
  font-weight: 700;
  text-align: left;
}

/* Link und Absatzdefinition */

a {
  color: var(--beige);
  text-decoration: none;
  font-weight: 600;
  padding-bottom: 25px;
}

p {
  margin: 0 0 15px;
}

.main-link::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* Buttons */

.email-form button:hover {
  background: #e19072;
  color: #263d55;
  transition: all 0.3s ease;
}

/* ***************STYLES***************** */
.wrapper,
.article {
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

.column {
  float: left;
  margin: 15px 0 15px 5%;
}

.column:first-child {
  margin-left: 0;
}

.row {
  padding: 0 10%;
}

/* ================================ */
/* ========== HERO ============ */
/* ================================ */

.heroImage {
  background-image: radial-gradient(
      circle,
      rgba(0, 0, 0, 0.02),
      rgba(0, 0, 0, 0.7)
    ),
    url('/images/damian-karpinski-NABa2krZS2Y-unsplash-min.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
  background-color: #111;
  padding-top: 40px;
}

.hero {
  margin-top: 60px;
  display: flex;
}
/* ================================ */
/* ========== NAVIGATION ============ */
/* ================================ */

#navigation {
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
}

#navigation li {
  display: inline-block;
  list-style: none;
  margin-left: 35px;
}

#navigation li a {
  font-weight: 600;
  color: #263d55;
}
#navigation li a.active {
  font-weight: 600;
  color: var(--beige);
}

#navigation li a:hover {
  color: #e4dcb5;
}

.navbar {
  background-color: hsl(50, 47%, 80%, 0.5);
  border-radius: 60px;
  margin: 0 auto;
  max-width: 1200px;
  width: 90%;
  box-sizing: border-box;
  padding: 0 24px;
}

nav.nav-elements > ul {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: end;
  align-items: center;
  padding: 0 20px;
}

#navigation li.spenden {
  flex: 0 0 auto;
}

#logo {
  max-height: 65px;
  padding-left: 15px;
  min-width: 80px;
  margin-right: 40px;
  flex-shrink: 1;
}

/* Responsive Nav */

.nav-toggle {
  display: none;
}

/* ================================ */
/* ========== Sub-Menu ============ */
/* ================================ */

.sub-menu li a:hover {
  background: var(--blau-alpha);
  padding: 6px;
  color: var(--beige-alpha);
}

.sub-menu {
  display: none;
  padding: 10px;
  font-size: 0.73rem;
  text-transform: none;
  position: absolute;
  width: 150px;
  top: 44px;
  left: 0;
  background: var(--beige-alpha);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
}
.sub-menu li {
  padding: 12px;
  margin-left: 0 !important;
}

.nav-elements li:hover ul {
  display: block;
}

.nav-elements li {
  position: relative;
}

/* Button */
#navigation li a#button-link {
  font-size: 0.8rem;
  color: white;
  padding: 12px 16px;
  border-radius: 60px;
  border: none;
  background: #263d55;
  transition: all 0.3s ease;
}

#navigation li a#button-link:hover {
  background: #e19072;
  color: #263d55;
}

/* UNSERE PROJEKTE */

.sand {
  background-image: radial-gradient(
      circle,
      rgba(0, 0, 0, 0.02),
      rgba(0, 0, 0, 0.7)
    ),
    url('/images/sand.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 250px;
  background-color: #111;
  padding-top: 40px;
}

.storchenwiesen {
  background-image: radial-gradient(
      circle,
      rgba(0, 0, 0, 0.02),
      rgba(0, 0, 0, 0.7)
    ),
    url('/images/storchenwiesen.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 250px;
  background-color: #111;
  padding-top: 40px;
}

.fledermausquartier {
  background-image: radial-gradient(
      circle,
      rgba(0, 0, 0, 0.02),
      rgba(0, 0, 0, 0.7)
    ),
    url('/images/fledermausquartier.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 250px;
  background-color: #111;
  padding-top: 40px;
}

.projekte {
  margin: 60px 0;
}

.pro-box {
  position: relative;
}
.pro-box:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.titel {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 10%;
  border-radius: 0 50px 50px 0;
  background: var(--blau-alpha);
  color: var(--beige);
  padding: 10px 0;
  font-weight: bold;
  font-size: 0.9em;
  text-transform: uppercase;
  text-align: center;
  margin: 10px auto;
}

.projekte img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

/* Werde Mitglied */

.wrapper div p {
  padding: 25px;
}

.mitglied {
  background-image: radial-gradient(
      circle,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.6)
    ),
    url('/images/sand.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
  background-color: #111;
  padding-top: 40px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: repeat(2, minmax(250px, 1fr));
  grid-template-areas:
    'first second third'
    '. fourth fifth'
    '. sixth  . ';
  width: 80%;
  margin: 60px auto;
}
.item-1 {
  grid-area: first;
}
.item-2 {
  background-image: radial-gradient(
      circle,
      rgba(0, 0, 0, 0.02),
      rgba(0, 0, 0, 0.7)
    ),
    url('/images/mitglied.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
  background-color: #111;
  padding-top: 40px;
  grid-area: second;
  padding: 0;
}
.item-3 {
  grid-area: third;
}
.item-4 {
  grid-area: fourth;
}

.grid-item {
  background-color: var(--blau-alpha);
  text-align: center;
  color: var(--beige);
  font-size: 1.2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.item-5 {
  grid-area: fifth;
  background: none;
  border: 4px solid var(--blau-alpha);
}
.item-5 h2 {
  color: var(--beige);
}
.item-6 {
  margin-top: 20px;
  grid-area: sixth;
  background: none;
}

.grid-item p {
  padding: 10px;
}

.email-form {
  position: relative;
}

.email-form .input-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.email-form input[type='email'] {
  padding: 1em 12em 1em 1em;
  border: none;
  border-radius: 999px;
  font-size: 0.6rem;
  width: 100%;
}

.email-form button {
  position: absolute;
  right: 0;
  height: 100%;
  margin: auto;
  border: none;
  padding: 0.6em 1.2em;
  border-radius: 999px;
  background-color: #2c3e50;
  color: white;
  font-size: 0.6rem;
  cursor: pointer;
}

/* Aktionen % Veranstaltungen */

.actions {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}
.card {
  background-color: var(--beige-alpha);
  display: flex;
  flex-direction: column;
  width: auto;
  height: 450px;
  align-items: center;
}

.card:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.content {
  position: relative;
}

.card .content h4 {
  font-style: italic;
  margin: 0.6rem 1rem 0;
}

.card p {
  text-align: center;
  margin: 0.3rem 0;
  min-height: 120px;
}
.card img {
  width: 100%;
  height: 200px;
  object-fit: cover; /* Ensures images fill the frame without distortion */
}

.card .content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 120px;
}

.date {
  margin-top: 1.2rem;
  color: #555;
  font-size: 0.9rem;
  text-align: center;
  margin-bottom: 10px;
}

/* Flora - Fauna */

.flora-fauna {
  background-color: var(--beige-alpha);
  height: auto;
  padding-bottom: 150px;
}

.kategorie img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.kategorie:hover,
.kategorie:hover h4 {
  transform: scale(1.05);
  transition: all 0.3s ease;
  color: var(--blue);
}

/* Footer */
footer {
  background: var(--blau);
  color: var(--beige);
}

footer li {
  float: left;
  list-style: none;
  padding-left: 60px;
  font-size: 0.6rem;
  font-weight: 300;
}

.footer form {
  width: 75%;
}

footer li:hover {
  color: var(--gelbbraun);
}

.footer {
  background-color: var(--blau);
  color: var(--beige);
  /* padding: 20px; */
  text-align: left;
}
.foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.news {
  max-width: 400px;
  float: left;
  margin-bottom: 60px;
}

.news button {
  background: var(--beige);
}
footer .news p {
  padding-left: 0;
  padding-right: 0;
}
/* ============================================== */
/* Unterseite Storchenwiesen */
/* ============================================== */

/* Breadcrumb */
.breadcrumb {
  /* background: var(--blau-alpha); */
  color: var(--beige);
}
.breadcrumb a {
  color: var(--blau);
}
.breadcrumb .column {
  font-size: 0.8rem;
}

#subnavigation {
  border-top: 1px solid var(--beige-alpha);
}

#subnavigation li {
  list-style: none;
  border-bottom: 1px solid var(--beige-alpha);
}
#subnavigation li a {
  text-decoration: none;
  color: #333;
  font-weight: 300;
  font-size: 18px;
  display: block;
  padding: 15px 0 15px 0;
}
#subnavigation li a:hover,
#subnavigation li a.active {
  color: var(--braun);
}

.unterseite-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 1fr));
  grid-template-rows: auto;
  gap: 12px;
}
.item {
  background: rgb(170, 50, 50);
}

.art3,
.art6,
.art7,
.art8,
.art9 {
  grid-column: span 2;
}
/* .item-3 {
  grid-column: span 2;
} */

/* Clearfix */
.row:before,
.row:after {
  content: ' ';
  display: table;
}

.row::after {
  clear: both;
}

/* Raster */

.col_1 {
  width: 100%;
}

.col_1_2 {
  width: 47.5%;
}

.col_1_3 {
  width: 30%;
}

.col_2_3 {
  width: 65%;
}

.col_1_4 {
  width: 21.25%;
}

.col_3_4 {
  width: 73.75%;
}

/* NAV RESPONSIVE */
.nav-toggle {
  display: none;
}

/***** Media Queries ******/

@media only screen and (max-width: 950px) {
  .col_1,
  .col_1_2,
  .col_1_3,
  .col_2_3,
  .col_1_4,
  .col_3_4,
  .col_1_2 {
    width: 100%;
  }
  .heroImage {
    background-size: auto;
  }

  img {
    width: 100%;
    height: auto;
  }

  .column {
    margin-left: 0;
  }
  .wrapper,
  .article {
    padding: 0 20px;
  }

  .grid-container {
    max-width: 350px;
    grid-template-columns: auto;
    grid-template-areas:
      'first'
      'second'
      'third'
      'fourth'
      'fifth'
      'sixth';
    grid-template-rows: repeat(5, minmax(100px, 1fr));
    justify-content: center;
  }
  .mitglied {
    height: auto;
  }

  form {
    padding: 50px;
  }

  section {
    min-width: 250px;
  }
  .item {
    grid-column: span 2;
  }

  #logo {
    max-width: 15%;
  }
  .flora-fauna .col_1_4 {
    display: inline-block;
    max-width: 250px;
    margin: 25px auto;
    float: none;
  }
  .flora-fauna .row {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  /* Responsive Navigation */
  nav.nav-elements {
    display: none;
  }
  .nav-toggle {
    display: block;
  }
  #nav-open:target .nav-closed {
    display: block;
  }
  .nav-closed,
  #navi-closed:target .nav-closed,
  #nav-open:target .nav-open {
    display: none;
  }
  #nav-open:target nav {
    display: block;
    height: 500px;
  }
  .nav-toggle {
    text-align: right;
    padding: 10px 30px;
    color: var(--blau);
  }

  .nav-toggle:hover {
    color: var(--beige);
    border-radius: 60px;
    text-decoration: none;
  }

  #navigation {
    margin-top: 0;
    float: none;
    /* border-bottom: 1px solid #ccc; */
  }

  /* Menu-Punkte Untereinander */
  nav {
    /* display: none; */
    height: 0;
    transition: height 0.5s ease-in-out;
    overflow: hidden;
  }

  nav.nav-elements > ul {
    display: block;
    padding: 0;
  }
  #navigation ul {
    position: relative;
    display: block;
    top: 0;
    left: 0;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    width: 100%;
    margin-bottom: 0;
  }

  #navigation li {
    display: block;
    margin-left: 0;
    text-align: left;
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid rgb(255, 255, 255, 0.5);
  }

  /* #navigation li a {
    display: block;
    border-top: 1px solid #fff;
    padding: 10px;
  } */
  /* Sub-Menu */

  .sub-menu {
    color: var(--gelbbraun);
    /* font-size: 0.73rem; */
    text-transform: none;
    position: static;
    width: 100%;
    background: none !important;
    box-shadow: none;
    top: auto;
    left: auto;
    padding-left: 18px;
    margin: 0;
  }
  .sub-menu li a:hover {
    background: none;
    color: var(--beige-alpha);
  }
}
